h1 {
    color: darksalmon ;
    text-align: center;
    text-shadow:lightsalmon;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 500%; 
}
h2 {
    color: brown ;
    text-align: center;
    text-shadow:lightsalmon;
    font-style: oblique;
    font-weight: bold , italic;
    font-variant: small-caps;
    font-size: 200%; 
}

body{

	background-color:lavenderblush;
}


@media screen and (min-width: 400px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
}
.one{
	text-align: center;

}

#button{
  background-color: lightsalmon; 
  border:hidden; 
  color: black;
  padding: 1% 4%;
  text-align: center;
  text-decoration: blink;
  display:;
  font-size: 100%;
  transition: 0.5s;
}
#button:hover{
  background-color: darksalmon; 
  border:hidden; 
  color: black;
  padding: 1% 4%;
  text-align: center;
  text-decoration: blink;
  display:;
  font-size: 100%;
  transition: 0.5s;
}
#cat{
	  border-radius: 30%;
      max-width: 40%;
      height: auto;
      display: block;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 10%;
}
#choice1{
	font-size: 300%;

}
#puma{
	  border-radius: 30%;
      max-width: 40%;
      height: auto;
      display: block;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 10%;
}
#choice2{
	font-size: 300%;

}
#bird{
	  border-radius: 30%;
      max-width: 40%;
      height: auto;
      display: block;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 10%;
}
#choice3{
	font-size: 300%;

}
table{
	border: 2% solid black;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: aliceblue;
}
.one #p{
	text-align: center;
}
